.ipynb_checkpoints
__pycache__
.DS_Store
.*.swp
*.egg-info/
dist/
build/
.idea/*
!.idea/dictionaries
labml
labml_helpers
labml_samples
data
logs
html/
diagrams/
.comet.config
settings.md
labml_app.log
/extensions
/.nb_editor
/.workspace.yaml
