html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  border-style: solid;
  border-bottom: none;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

p {
  margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 40px 0 15px 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
}

#container {
  position: relative;
}

#background {
  position: absolute;
  top: 0;
  left: 40%;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: none;
}
@media (min-width: 768px) {
  #background {
    display: block;
  }
}

a.parent {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
}
a.parent:after {
  content: ">";
  font-size: 14px;
  margin-left: 4px;
}

div.footer {
  margin-top: 25px;
  position: relative;
  padding: 10px 0;
  text-align: center;
}
div.footer a {
  display: inline-block;
  margin: 8px;
  font-size: 1.3rem;
}

div.section {
  position: relative;
}
div.section:after {
  clear: both;
  content: "";
  display: block;
}
div.section:hover div.docs .section-link a {
  opacity: 1;
}
div.section div.docs {
  box-sizing: border-box;
  padding: 10px 8px 1px 8px;
  vertical-align: top;
  text-align: left;
}
@media (min-width: 768px) {
  div.section div.docs {
    float: left;
    width: 40%;
    min-height: 5px;
  }
}
@media (min-width: 1024px) {
  div.section div.docs {
    padding: 10px 25px 1px 50px;
  }
}
div.section div.docs .section-link {
  position: relative;
}
div.section div.docs .section-link a {
  font: 12px Arial;
  text-decoration: none;
  position: absolute;
  top: 3px;
  left: -20px;
  padding: 1px 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}
div.section div.docs .katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}
div.section div.docs pre code {
  overflow-x: auto;
}
div.section div.docs img {
  max-width: 100%;
}
div.section div.docs pre {
  margin: 15px 0 15px;
}
div.section div.code {
  padding: 14px 8px 16px 15px;
  vertical-align: top;
}
@media (min-width: 768px) {
  div.section div.code {
    margin-left: 40%;
  }
}
div.section div.code pre {
  font-size: 12px;
  word-break: break-all;
  white-space: pre-wrap;
}

.highlight .n, .highlight .nn, .highlight .nc, .highlight .nf {
  cursor: pointer;
}

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 80%;
  white-space: nowrap;
  border-radius: 4px;
}

pre, tt, code {
  line-height: 18px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}

span.lineno {
  width: 20px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  opacity: 0.3;
  font-size: 10px;
  white-space: nowrap;
}

p > img {
  max-height: 240px;
  max-width: 240px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
p > img:hover {
  opacity: 0.7;
}

#modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
#modal > div {
  padding: 100px 10px 10px 10px;
}
#modal > div > img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#modal > div > p {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  height: 150px;
}
#modal > div > img, #modal > div > p {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#modal > span.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
#modal > span.close:hover, #modal > span.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.katex span {
  cursor: default;
}
.katex span.coloredeq {
  cursor: pointer;
}
.katex span.coloredeq span {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  #modal > img {
    width: 100%;
  }
}
body {
  color: #999;
  background: #1d2127;
}

hr {
  border-color: #555;
}

a {
  color: #bbb;
}
a:visited {
  color: #aaa;
}

#container {
  background: #1d2127;
}

div.section {
  border-top: 1px solid #353745;
}

#background {
  background: #282a36;
  border-left: 1px solid #293340;
}

div.footer {
  background: #30353d;
}
div.footer a {
  display: inline-block;
  margin: 5px;
}

a.parent {
  color: #ffffff;
}
a.parent:after {
  color: #aaa;
}

div.section:hover {
  background: #080a16;
}
div.section:hover div.code {
  background: #080a16;
}
div.section div.docs .section-link a {
  color: #454545;
}
div.section div.docs p tt, div.section div.docs li code, div.section div.docs ol code, div.section div.docs p code {
  background: #282a36;
  color: #ccc;
}
div.section div.code {
  background: #282a36;
}

div.doc-strings {
  color: #ccc;
}

.mjx-chtml {
  color: #ccc;
}

code {
  background: #282a36;
  border: 1px solid #484a56;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
}
#modal > div > p {
  color: #ccc;
}
#modal > span.close {
  color: #f1f1f1;
}
#modal:hover, #modal:focus {
  color: #bbb;
}

.highlight {
  color: #f8f8f2;
}
.highlight .hll {
  background-color: #f1fa8c;
}
.highlight .c {
  color: #6272a4;
}
.highlight .err {
  color: #f8f8f2;
}
.highlight .g {
  color: #f8f8f2;
}
.highlight .k {
  color: #ff79c6;
}
.highlight .l {
  color: #f8f8f2;
}
.highlight .n {
  color: #f8f8f2;
}
.highlight .o {
  color: #ff4996;
}
.highlight .x {
  color: #f8f8f2;
}
.highlight .p {
  color: #a8a8a2;
}
.highlight .ch {
  color: #6272a4;
}
.highlight .cm {
  color: #6272a4;
}
.highlight .cp {
  color: #ff79c6;
}
.highlight .cpf {
  color: #6272a4;
}
.highlight .c1 {
  color: #6272a4;
}
.highlight .cs {
  color: #6272a4;
}
.highlight .gd {
  color: #8b080b;
}
.highlight .ge {
  color: #f8f8f2;
  text-decoration: underline;
}
.highlight .gr {
  color: #f8f8f2;
}
.highlight .gh {
  color: #f8f8f2;
  font-weight: bold;
}
.highlight .gi {
  color: #f8f8f2;
  font-weight: bold;
}
.highlight .go {
  color: #44475a;
}
.highlight .gp {
  color: #f8f8f2;
}
.highlight .gs {
  color: #f8f8f2;
}
.highlight .gu {
  color: #f8f8f2;
  font-weight: bold;
}
.highlight .gt {
  color: #f8f8f2;
}
.highlight .kc {
  color: #ff79c6;
}
.highlight .kd {
  color: #8be9fd;
  font-style: italic;
}
.highlight .kn {
  color: #ff79c6;
}
.highlight .kp {
  color: #ff79c6;
}
.highlight .kr {
  color: #ff79c6;
}
.highlight .kt {
  color: #8be9fd;
}
.highlight .ld {
  color: #f8f8f2;
}
.highlight .m {
  color: #bd93f9;
}
.highlight .s {
  color: #f1fa8c;
}
.highlight .na {
  color: #50fa7b;
}
.highlight .nb {
  color: #8be9fd;
  font-style: italic;
}
.highlight .nc {
  color: #ffb86c;
  font-weight: bold;
}
.highlight .no {
  color: #f8f8f2;
}
.highlight .nd {
  color: #9d93ff;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .ne {
  color: #d8d8d2;
  font-style: italic;
}
.highlight .nf {
  color: #ffb86c;
}
.highlight .nl {
  color: #8be9fd;
  font-style: italic;
}
.highlight .nn {
  color: #f8f8f2;
}
.highlight .nx {
  color: #f8f8f2;
}
.highlight .py {
  color: #f8f8f2;
}
.highlight .nt {
  color: #ff79c6;
}
.highlight .nv {
  color: #8be9fd;
  font-style: italic;
}
.highlight .ow {
  color: #ff79c6;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mb {
  color: #bd93f9;
}
.highlight .mf {
  color: #bd93f9;
}
.highlight .mh {
  color: #bd93f9;
}
.highlight .mi {
  color: #bd93f9;
}
.highlight .mo {
  color: #bd93f9;
}
.highlight .sa {
  color: #f1fa8c;
}
.highlight .sb {
  color: #f1fa8c;
}
.highlight .sc {
  color: #f1fa8c;
}
.highlight .dl {
  color: #f1fa8c;
}
.highlight .sd {
  color: #f1fa8c;
}
.highlight .s2 {
  color: #f1fa8c;
}
.highlight .se {
  color: #f1fa8c;
}
.highlight .sh {
  color: #f1fa8c;
}
.highlight .si {
  color: #f1fa8c;
}
.highlight .sx {
  color: #f1fa8c;
}
.highlight .sr {
  color: #f1fa8c;
}
.highlight .s1 {
  color: #f1fa8c;
}
.highlight .ss {
  color: #f1fa8c;
}
.highlight .bp {
  color: #50fa7b;
}
.highlight .fm {
  color: #ffb86c;
  font-style: italic;
}
.highlight .vc {
  color: #8be9fd;
  font-style: italic;
}
.highlight .vg {
  color: #8be9fd;
  font-style: italic;
}
.highlight .vi {
  color: #8be9fd;
  font-style: italic;
}
.highlight .vm {
  color: #8be9fd;
  font-style: italic;
}
.highlight .il {
  color: #bd93f9;
}

body.lights-off .highlight .clicked, body.lights-off .katex .clicked {
  color: #00ffff !important;
  text-shadow: 0 0 20px #00ffff;
}

body.lights-off .highlight {
  color: whitesmoke;
}
body.lights-off .highlight .hll {
  background-color: #c3c3c3;
}
body.lights-off .highlight .c {
  color: #838383;
}
body.lights-off .highlight .err {
  color: whitesmoke;
}
body.lights-off .highlight .g {
  color: whitesmoke;
}
body.lights-off .highlight .k {
  color: #bcbcbc;
}
body.lights-off .highlight .l {
  color: whitesmoke;
}
body.lights-off .highlight .n {
  color: whitesmoke;
}
body.lights-off .highlight .o {
  color: #a4a4a4;
}
body.lights-off .highlight .x {
  color: whitesmoke;
}
body.lights-off .highlight .p {
  color: #a5a5a5;
}
body.lights-off .highlight .ch {
  color: #838383;
}
body.lights-off .highlight .cm {
  color: #838383;
}
body.lights-off .highlight .cp {
  color: #bcbcbc;
}
body.lights-off .highlight .cpf {
  color: #838383;
}
body.lights-off .highlight .c1 {
  color: #838383;
}
body.lights-off .highlight .cs {
  color: #838383;
}
body.lights-off .highlight .gd {
  color: #4a4a4a;
}
body.lights-off .highlight .ge {
  color: whitesmoke;
}
body.lights-off .highlight .gr {
  color: whitesmoke;
}
body.lights-off .highlight .gh {
  color: whitesmoke;
  font-weight: bold;
}
body.lights-off .highlight .gi {
  color: whitesmoke;
}
body.lights-off .highlight .go {
  color: #4f4f4f;
}
body.lights-off .highlight .gp {
  color: whitesmoke;
}
body.lights-off .highlight .gs {
  color: whitesmoke;
}
body.lights-off .highlight .gu {
  color: whitesmoke;
}
body.lights-off .highlight .gt {
  color: whitesmoke;
}
body.lights-off .highlight .kc {
  color: #bcbcbc;
}
body.lights-off .highlight .kd {
  color: #c4c4c4;
  font-style: italic;
}
body.lights-off .highlight .kn {
  color: #bcbcbc;
}
body.lights-off .highlight .kp {
  color: #bcbcbc;
}
body.lights-off .highlight .kr {
  color: #bcbcbc;
}
body.lights-off .highlight .kt {
  color: #c4c4c4;
}
body.lights-off .highlight .ld {
  color: whitesmoke;
}
body.lights-off .highlight .m {
  color: #c6c6c6;
}
body.lights-off .highlight .s {
  color: #c3c3c3;
}
body.lights-off .highlight .na {
  color: #a5a5a5;
}
body.lights-off .highlight .nb {
  color: #c4c4c4;
}
body.lights-off .highlight .nc {
  color: #b6b6b6;
}
body.lights-off .highlight .no {
  color: whitesmoke;
}
body.lights-off .highlight .nd {
  color: #c9c9c9;
}
body.lights-off .highlight .ni {
  color: whitesmoke;
}
body.lights-off .highlight .ne {
  color: #d5d5d5;
}
body.lights-off .highlight .nf {
  color: #b6b6b6;
}
body.lights-off .highlight .nl {
  color: #c4c4c4;
}
body.lights-off .highlight .nn {
  color: whitesmoke;
}
body.lights-off .highlight .nx {
  color: whitesmoke;
}
body.lights-off .highlight .py {
  color: whitesmoke;
}
body.lights-off .highlight .nt {
  color: #bcbcbc;
}
body.lights-off .highlight .nv {
  color: #c4c4c4;
}
body.lights-off .highlight .ow {
  color: #bcbcbc;
}
body.lights-off .highlight .w {
  color: whitesmoke;
}
body.lights-off .highlight .mb {
  color: #c6c6c6;
}
body.lights-off .highlight .mf {
  color: #c6c6c6;
}
body.lights-off .highlight .mh {
  color: #c6c6c6;
}
body.lights-off .highlight .mi {
  color: #c6c6c6;
}
body.lights-off .highlight .mo {
  color: #c6c6c6;
}
body.lights-off .highlight .sa {
  color: #c3c3c3;
}
body.lights-off .highlight .sb {
  color: #c3c3c3;
}
body.lights-off .highlight .sc {
  color: #c3c3c3;
}
body.lights-off .highlight .dl {
  color: #c3c3c3;
}
body.lights-off .highlight .sd {
  color: #c3c3c3;
}
body.lights-off .highlight .s2 {
  color: #c3c3c3;
}
body.lights-off .highlight .se {
  color: #c3c3c3;
}
body.lights-off .highlight .sh {
  color: #c3c3c3;
}
body.lights-off .highlight .si {
  color: #c3c3c3;
}
body.lights-off .highlight .sx {
  color: #c3c3c3;
}
body.lights-off .highlight .sr {
  color: #c3c3c3;
}
body.lights-off .highlight .s1 {
  color: #c3c3c3;
}
body.lights-off .highlight .ss {
  color: #c3c3c3;
}
body.lights-off .highlight .bp {
  color: #a5a5a5;
}
body.lights-off .highlight .fm {
  color: #b6b6b6;
}
body.lights-off .highlight .vc {
  color: #c4c4c4;
}
body.lights-off .highlight .vg {
  color: #c4c4c4;
}
body.lights-off .highlight .vi {
  color: #c4c4c4;
}
body.lights-off .highlight .vm {
  color: #c4c4c4;
}
body.lights-off .highlight .il {
  color: #c6c6c6;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #999;
    background: #1d2127;
  }

  hr {
    border-color: #555;
  }

  a {
    color: #bbb;
  }
  a:visited {
    color: #aaa;
  }

  #container {
    background: #1d2127;
  }

  div.section {
    border-top: 1px solid #353745;
  }

  #background {
    background: #282a36;
    border-left: 1px solid #293340;
  }

  div.footer {
    background: #30353d;
  }
  div.footer a {
    display: inline-block;
    margin: 5px;
  }

  a.parent {
    color: #ffffff;
  }
  a.parent:after {
    color: #aaa;
  }

  div.section:hover {
    background: #080a16;
  }
  div.section:hover div.code {
    background: #080a16;
  }
  div.section div.docs .section-link a {
    color: #454545;
  }
  div.section div.docs p tt, div.section div.docs li code, div.section div.docs ol code, div.section div.docs p code {
    background: #282a36;
    color: #ccc;
  }
  div.section div.code {
    background: #282a36;
  }

  div.doc-strings {
    color: #ccc;
  }

  .mjx-chtml {
    color: #ccc;
  }

  code {
    background: #282a36;
    border: 1px solid #484a56;
  }

  #modal {
    background-color: rgba(0, 0, 0, 0.9);
  }
  #modal > div > p {
    color: #ccc;
  }
  #modal > span.close {
    color: #f1f1f1;
  }
  #modal:hover, #modal:focus {
    color: #bbb;
  }

  .highlight {
    color: #f8f8f2;
  }
  .highlight .hll {
    background-color: #f1fa8c;
  }
  .highlight .c {
    color: #6272a4;
  }
  .highlight .err {
    color: #f8f8f2;
  }
  .highlight .g {
    color: #f8f8f2;
  }
  .highlight .k {
    color: #ff79c6;
  }
  .highlight .l {
    color: #f8f8f2;
  }
  .highlight .n {
    color: #f8f8f2;
  }
  .highlight .o {
    color: #ff4996;
  }
  .highlight .x {
    color: #f8f8f2;
  }
  .highlight .p {
    color: #a8a8a2;
  }
  .highlight .ch {
    color: #6272a4;
  }
  .highlight .cm {
    color: #6272a4;
  }
  .highlight .cp {
    color: #ff79c6;
  }
  .highlight .cpf {
    color: #6272a4;
  }
  .highlight .c1 {
    color: #6272a4;
  }
  .highlight .cs {
    color: #6272a4;
  }
  .highlight .gd {
    color: #8b080b;
  }
  .highlight .ge {
    color: #f8f8f2;
    text-decoration: underline;
  }
  .highlight .gr {
    color: #f8f8f2;
  }
  .highlight .gh {
    color: #f8f8f2;
    font-weight: bold;
  }
  .highlight .gi {
    color: #f8f8f2;
    font-weight: bold;
  }
  .highlight .go {
    color: #44475a;
  }
  .highlight .gp {
    color: #f8f8f2;
  }
  .highlight .gs {
    color: #f8f8f2;
  }
  .highlight .gu {
    color: #f8f8f2;
    font-weight: bold;
  }
  .highlight .gt {
    color: #f8f8f2;
  }
  .highlight .kc {
    color: #ff79c6;
  }
  .highlight .kd {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .kn {
    color: #ff79c6;
  }
  .highlight .kp {
    color: #ff79c6;
  }
  .highlight .kr {
    color: #ff79c6;
  }
  .highlight .kt {
    color: #8be9fd;
  }
  .highlight .ld {
    color: #f8f8f2;
  }
  .highlight .m {
    color: #bd93f9;
  }
  .highlight .s {
    color: #f1fa8c;
  }
  .highlight .na {
    color: #50fa7b;
  }
  .highlight .nb {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .nc {
    color: #ffb86c;
    font-weight: bold;
  }
  .highlight .no {
    color: #f8f8f2;
  }
  .highlight .nd {
    color: #9d93ff;
  }
  .highlight .ni {
    color: #f8f8f2;
  }
  .highlight .ne {
    color: #d8d8d2;
    font-style: italic;
  }
  .highlight .nf {
    color: #ffb86c;
  }
  .highlight .nl {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .nn {
    color: #f8f8f2;
  }
  .highlight .nx {
    color: #f8f8f2;
  }
  .highlight .py {
    color: #f8f8f2;
  }
  .highlight .nt {
    color: #ff79c6;
  }
  .highlight .nv {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .ow {
    color: #ff79c6;
  }
  .highlight .w {
    color: #f8f8f2;
  }
  .highlight .mb {
    color: #bd93f9;
  }
  .highlight .mf {
    color: #bd93f9;
  }
  .highlight .mh {
    color: #bd93f9;
  }
  .highlight .mi {
    color: #bd93f9;
  }
  .highlight .mo {
    color: #bd93f9;
  }
  .highlight .sa {
    color: #f1fa8c;
  }
  .highlight .sb {
    color: #f1fa8c;
  }
  .highlight .sc {
    color: #f1fa8c;
  }
  .highlight .dl {
    color: #f1fa8c;
  }
  .highlight .sd {
    color: #f1fa8c;
  }
  .highlight .s2 {
    color: #f1fa8c;
  }
  .highlight .se {
    color: #f1fa8c;
  }
  .highlight .sh {
    color: #f1fa8c;
  }
  .highlight .si {
    color: #f1fa8c;
  }
  .highlight .sx {
    color: #f1fa8c;
  }
  .highlight .sr {
    color: #f1fa8c;
  }
  .highlight .s1 {
    color: #f1fa8c;
  }
  .highlight .ss {
    color: #f1fa8c;
  }
  .highlight .bp {
    color: #50fa7b;
  }
  .highlight .fm {
    color: #ffb86c;
    font-style: italic;
  }
  .highlight .vc {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .vg {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .vi {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .vm {
    color: #8be9fd;
    font-style: italic;
  }
  .highlight .il {
    color: #bd93f9;
  }

  body.lights-off .highlight .clicked, body.lights-off .katex .clicked {
    color: #00ffff !important;
    text-shadow: 0 0 20px #00ffff;
  }

  body.lights-off .highlight {
    color: whitesmoke;
  }
  body.lights-off .highlight .hll {
    background-color: #c3c3c3;
  }
  body.lights-off .highlight .c {
    color: #838383;
  }
  body.lights-off .highlight .err {
    color: whitesmoke;
  }
  body.lights-off .highlight .g {
    color: whitesmoke;
  }
  body.lights-off .highlight .k {
    color: #bcbcbc;
  }
  body.lights-off .highlight .l {
    color: whitesmoke;
  }
  body.lights-off .highlight .n {
    color: whitesmoke;
  }
  body.lights-off .highlight .o {
    color: #a4a4a4;
  }
  body.lights-off .highlight .x {
    color: whitesmoke;
  }
  body.lights-off .highlight .p {
    color: #a5a5a5;
  }
  body.lights-off .highlight .ch {
    color: #838383;
  }
  body.lights-off .highlight .cm {
    color: #838383;
  }
  body.lights-off .highlight .cp {
    color: #bcbcbc;
  }
  body.lights-off .highlight .cpf {
    color: #838383;
  }
  body.lights-off .highlight .c1 {
    color: #838383;
  }
  body.lights-off .highlight .cs {
    color: #838383;
  }
  body.lights-off .highlight .gd {
    color: #4a4a4a;
  }
  body.lights-off .highlight .ge {
    color: whitesmoke;
  }
  body.lights-off .highlight .gr {
    color: whitesmoke;
  }
  body.lights-off .highlight .gh {
    color: whitesmoke;
    font-weight: bold;
  }
  body.lights-off .highlight .gi {
    color: whitesmoke;
  }
  body.lights-off .highlight .go {
    color: #4f4f4f;
  }
  body.lights-off .highlight .gp {
    color: whitesmoke;
  }
  body.lights-off .highlight .gs {
    color: whitesmoke;
  }
  body.lights-off .highlight .gu {
    color: whitesmoke;
  }
  body.lights-off .highlight .gt {
    color: whitesmoke;
  }
  body.lights-off .highlight .kc {
    color: #bcbcbc;
  }
  body.lights-off .highlight .kd {
    color: #c4c4c4;
    font-style: italic;
  }
  body.lights-off .highlight .kn {
    color: #bcbcbc;
  }
  body.lights-off .highlight .kp {
    color: #bcbcbc;
  }
  body.lights-off .highlight .kr {
    color: #bcbcbc;
  }
  body.lights-off .highlight .kt {
    color: #c4c4c4;
  }
  body.lights-off .highlight .ld {
    color: whitesmoke;
  }
  body.lights-off .highlight .m {
    color: #c6c6c6;
  }
  body.lights-off .highlight .s {
    color: #c3c3c3;
  }
  body.lights-off .highlight .na {
    color: #a5a5a5;
  }
  body.lights-off .highlight .nb {
    color: #c4c4c4;
  }
  body.lights-off .highlight .nc {
    color: #b6b6b6;
  }
  body.lights-off .highlight .no {
    color: whitesmoke;
  }
  body.lights-off .highlight .nd {
    color: #c9c9c9;
  }
  body.lights-off .highlight .ni {
    color: whitesmoke;
  }
  body.lights-off .highlight .ne {
    color: #d5d5d5;
  }
  body.lights-off .highlight .nf {
    color: #b6b6b6;
  }
  body.lights-off .highlight .nl {
    color: #c4c4c4;
  }
  body.lights-off .highlight .nn {
    color: whitesmoke;
  }
  body.lights-off .highlight .nx {
    color: whitesmoke;
  }
  body.lights-off .highlight .py {
    color: whitesmoke;
  }
  body.lights-off .highlight .nt {
    color: #bcbcbc;
  }
  body.lights-off .highlight .nv {
    color: #c4c4c4;
  }
  body.lights-off .highlight .ow {
    color: #bcbcbc;
  }
  body.lights-off .highlight .w {
    color: whitesmoke;
  }
  body.lights-off .highlight .mb {
    color: #c6c6c6;
  }
  body.lights-off .highlight .mf {
    color: #c6c6c6;
  }
  body.lights-off .highlight .mh {
    color: #c6c6c6;
  }
  body.lights-off .highlight .mi {
    color: #c6c6c6;
  }
  body.lights-off .highlight .mo {
    color: #c6c6c6;
  }
  body.lights-off .highlight .sa {
    color: #c3c3c3;
  }
  body.lights-off .highlight .sb {
    color: #c3c3c3;
  }
  body.lights-off .highlight .sc {
    color: #c3c3c3;
  }
  body.lights-off .highlight .dl {
    color: #c3c3c3;
  }
  body.lights-off .highlight .sd {
    color: #c3c3c3;
  }
  body.lights-off .highlight .s2 {
    color: #c3c3c3;
  }
  body.lights-off .highlight .se {
    color: #c3c3c3;
  }
  body.lights-off .highlight .sh {
    color: #c3c3c3;
  }
  body.lights-off .highlight .si {
    color: #c3c3c3;
  }
  body.lights-off .highlight .sx {
    color: #c3c3c3;
  }
  body.lights-off .highlight .sr {
    color: #c3c3c3;
  }
  body.lights-off .highlight .s1 {
    color: #c3c3c3;
  }
  body.lights-off .highlight .ss {
    color: #c3c3c3;
  }
  body.lights-off .highlight .bp {
    color: #a5a5a5;
  }
  body.lights-off .highlight .fm {
    color: #b6b6b6;
  }
  body.lights-off .highlight .vc {
    color: #c4c4c4;
  }
  body.lights-off .highlight .vg {
    color: #c4c4c4;
  }
  body.lights-off .highlight .vi {
    color: #c4c4c4;
  }
  body.lights-off .highlight .vm {
    color: #c4c4c4;
  }
  body.lights-off .highlight .il {
    color: #c6c6c6;
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: #777;
    background: #ecf0f3;
  }

  hr {
    border-color: #555;
  }

  a {
    color: #666;
  }
  a:visited {
    color: #777;
  }

  #container {
    background: #ecf0f3;
  }

  div.section {
    border-top: 1px solid #e2e2eb;
  }

  #background {
    background: #ebedef;
    border-left: 1px solid #e2e2eb;
  }

  div.footer {
    background: #d5dbe0;
  }
  div.footer a {
    display: inline-block;
    margin: 5px;
  }

  a.parent {
    color: #000000;
  }
  a.parent:after {
    color: #666666;
  }

  div.section:hover {
    background: #f8fafb;
  }
  div.section:hover div.code {
    background: #f8fafb;
  }
  div.section div.docs .section-link a {
    color: #454545;
  }
  div.section div.docs p tt, div.section div.docs li code, div.section div.docs ol code, div.section div.docs p code {
    background: #ebedef;
    color: #666;
  }
  div.section div.code {
    background: #ebedef;
  }

  div.doc-strings {
    color: #555;
  }

  .mjx-chtml {
    color: #555;
  }

  code {
    background: #ebedef;
    border: 1px solid #cacddc;
  }

  #modal {
    background-color: rgba(0, 0, 0, 0.9);
  }
  #modal > div > p {
    color: #ccc;
  }
  #modal > span.close {
    color: #f1f1f1;
  }
  #modal:hover, #modal:focus {
    color: #bbb;
  }

  .highlight {
    color: #060606;
  }
  .highlight .hll {
    background-color: #18c043;
  }
  .highlight .c {
    color: #213c93;
  }
  .highlight .err {
    color: #060606;
  }
  .highlight .g {
    color: #060606;
  }
  .highlight .k {
    color: #eb339d;
  }
  .highlight .l {
    color: #060606;
  }
  .highlight .n {
    color: #060606;
  }
  .highlight .o {
    color: #ff4996;
  }
  .highlight .x {
    color: #060606;
  }
  .highlight .p {
    color: #c9c900;
  }
  .highlight .ch {
    color: #213c93;
  }
  .highlight .cm {
    color: #213c93;
  }
  .highlight .cp {
    color: #eb339d;
  }
  .highlight .cpf {
    color: #213c93;
  }
  .highlight .c1 {
    color: #213c93;
  }
  .highlight .cs {
    color: #213c93;
  }
  .highlight .gd {
    color: #8b080b;
  }
  .highlight .ge {
    color: #060606;
    text-decoration: underline;
  }
  .highlight .gr {
    color: #060606;
  }
  .highlight .gh {
    color: #060606;
    font-weight: bold;
  }
  .highlight .gi {
    color: #060606;
    font-weight: bold;
  }
  .highlight .go {
    color: #44475a;
  }
  .highlight .gp {
    color: #060606;
  }
  .highlight .gs {
    color: #060606;
  }
  .highlight .gu {
    color: #060606;
    font-weight: bold;
  }
  .highlight .gt {
    color: #060606;
  }
  .highlight .kc {
    color: #eb339d;
  }
  .highlight .kd {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .kn {
    color: #eb339d;
  }
  .highlight .kp {
    color: #eb339d;
  }
  .highlight .kr {
    color: #eb339d;
  }
  .highlight .kt {
    color: #00cbf6;
  }
  .highlight .ld {
    color: #060606;
  }
  .highlight .m {
    color: #733fbe;
  }
  .highlight .s {
    color: #18c043;
  }
  .highlight .na {
    color: #25da53;
  }
  .highlight .nb {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .nc {
    color: #ff8707;
    font-weight: bold;
  }
  .highlight .no {
    color: #060606;
  }
  .highlight .nd {
    color: #332b80;
  }
  .highlight .ni {
    color: #060606;
  }
  .highlight .ne {
    color: #b7b702;
    font-style: italic;
  }
  .highlight .nf {
    color: #ff8707;
  }
  .highlight .nl {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .nn {
    color: #060606;
  }
  .highlight .nx {
    color: #060606;
  }
  .highlight .py {
    color: #060606;
  }
  .highlight .nt {
    color: #eb339d;
  }
  .highlight .nv {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .ow {
    color: #eb339d;
  }
  .highlight .w {
    color: #060606;
  }
  .highlight .mb {
    color: #733fbe;
  }
  .highlight .mf {
    color: #733fbe;
  }
  .highlight .mh {
    color: #733fbe;
  }
  .highlight .mi {
    color: #733fbe;
  }
  .highlight .mo {
    color: #733fbe;
  }
  .highlight .sa {
    color: #18c043;
  }
  .highlight .sb {
    color: #18c043;
  }
  .highlight .sc {
    color: #18c043;
  }
  .highlight .dl {
    color: #18c043;
  }
  .highlight .sd {
    color: #18c043;
  }
  .highlight .s2 {
    color: #18c043;
  }
  .highlight .se {
    color: #18c043;
  }
  .highlight .sh {
    color: #18c043;
  }
  .highlight .si {
    color: #18c043;
  }
  .highlight .sx {
    color: #18c043;
  }
  .highlight .sr {
    color: #18c043;
  }
  .highlight .s1 {
    color: #18c043;
  }
  .highlight .ss {
    color: #18c043;
  }
  .highlight .bp {
    color: #25da53;
  }
  .highlight .fm {
    color: #ff8707;
    font-style: italic;
  }
  .highlight .vc {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .vg {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .vi {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .vm {
    color: #00cbf6;
    font-style: italic;
  }
  .highlight .il {
    color: #733fbe;
  }

  body.lights-off .highlight .clicked, body.lights-off .katex .clicked {
    color: #00ccff !important;
    text-shadow: 0 0 20px #00ccff;
  }

  body.lights-off .highlight {
    color: #060606;
  }
  body.lights-off .highlight .hll {
    background-color: #6c6c6c;
  }
  body.lights-off .highlight .c {
    color: #5a5a5a;
  }
  body.lights-off .highlight .err {
    color: #060606;
  }
  body.lights-off .highlight .g {
    color: #060606;
  }
  body.lights-off .highlight .k {
    color: #8f8f8f;
  }
  body.lights-off .highlight .l {
    color: #060606;
  }
  body.lights-off .highlight .n {
    color: #060606;
  }
  body.lights-off .highlight .o {
    color: #a4a4a4;
  }
  body.lights-off .highlight .x {
    color: #060606;
  }
  body.lights-off .highlight .p {
    color: #656565;
  }
  body.lights-off .highlight .ch {
    color: #5a5a5a;
  }
  body.lights-off .highlight .cm {
    color: #5a5a5a;
  }
  body.lights-off .highlight .cp {
    color: #8f8f8f;
  }
  body.lights-off .highlight .cpf {
    color: #5a5a5a;
  }
  body.lights-off .highlight .c1 {
    color: #5a5a5a;
  }
  body.lights-off .highlight .cs {
    color: #5a5a5a;
  }
  body.lights-off .highlight .gd {
    color: #4a4a4a;
  }
  body.lights-off .highlight .ge {
    color: #060606;
  }
  body.lights-off .highlight .gr {
    color: #060606;
  }
  body.lights-off .highlight .gh {
    color: #060606;
    font-weight: bold;
  }
  body.lights-off .highlight .gi {
    color: #060606;
  }
  body.lights-off .highlight .go {
    color: #4f4f4f;
  }
  body.lights-off .highlight .gp {
    color: #060606;
  }
  body.lights-off .highlight .gs {
    color: #060606;
  }
  body.lights-off .highlight .gu {
    color: #060606;
  }
  body.lights-off .highlight .gt {
    color: #060606;
  }
  body.lights-off .highlight .kc {
    color: #8f8f8f;
  }
  body.lights-off .highlight .kd {
    color: #7b7b7b;
    font-style: italic;
  }
  body.lights-off .highlight .kn {
    color: #8f8f8f;
  }
  body.lights-off .highlight .kp {
    color: #8f8f8f;
  }
  body.lights-off .highlight .kr {
    color: #8f8f8f;
  }
  body.lights-off .highlight .kt {
    color: #7b7b7b;
  }
  body.lights-off .highlight .ld {
    color: #060606;
  }
  body.lights-off .highlight .m {
    color: #7f7f7f;
  }
  body.lights-off .highlight .s {
    color: #6c6c6c;
  }
  body.lights-off .highlight .na {
    color: gray;
  }
  body.lights-off .highlight .nb {
    color: #7b7b7b;
  }
  body.lights-off .highlight .nc {
    color: #838383;
  }
  body.lights-off .highlight .no {
    color: #060606;
  }
  body.lights-off .highlight .nd {
    color: #565656;
  }
  body.lights-off .highlight .ni {
    color: #060606;
  }
  body.lights-off .highlight .ne {
    color: #5d5d5d;
  }
  body.lights-off .highlight .nf {
    color: #838383;
  }
  body.lights-off .highlight .nl {
    color: #7b7b7b;
  }
  body.lights-off .highlight .nn {
    color: #060606;
  }
  body.lights-off .highlight .nx {
    color: #060606;
  }
  body.lights-off .highlight .py {
    color: #060606;
  }
  body.lights-off .highlight .nt {
    color: #8f8f8f;
  }
  body.lights-off .highlight .nv {
    color: #7b7b7b;
  }
  body.lights-off .highlight .ow {
    color: #8f8f8f;
  }
  body.lights-off .highlight .w {
    color: #060606;
  }
  body.lights-off .highlight .mb {
    color: #7f7f7f;
  }
  body.lights-off .highlight .mf {
    color: #7f7f7f;
  }
  body.lights-off .highlight .mh {
    color: #7f7f7f;
  }
  body.lights-off .highlight .mi {
    color: #7f7f7f;
  }
  body.lights-off .highlight .mo {
    color: #7f7f7f;
  }
  body.lights-off .highlight .sa {
    color: #6c6c6c;
  }
  body.lights-off .highlight .sb {
    color: #6c6c6c;
  }
  body.lights-off .highlight .sc {
    color: #6c6c6c;
  }
  body.lights-off .highlight .dl {
    color: #6c6c6c;
  }
  body.lights-off .highlight .sd {
    color: #6c6c6c;
  }
  body.lights-off .highlight .s2 {
    color: #6c6c6c;
  }
  body.lights-off .highlight .se {
    color: #6c6c6c;
  }
  body.lights-off .highlight .sh {
    color: #6c6c6c;
  }
  body.lights-off .highlight .si {
    color: #6c6c6c;
  }
  body.lights-off .highlight .sx {
    color: #6c6c6c;
  }
  body.lights-off .highlight .sr {
    color: #6c6c6c;
  }
  body.lights-off .highlight .s1 {
    color: #6c6c6c;
  }
  body.lights-off .highlight .ss {
    color: #6c6c6c;
  }
  body.lights-off .highlight .bp {
    color: gray;
  }
  body.lights-off .highlight .fm {
    color: #838383;
  }
  body.lights-off .highlight .vc {
    color: #7b7b7b;
  }
  body.lights-off .highlight .vg {
    color: #7b7b7b;
  }
  body.lights-off .highlight .vi {
    color: #7b7b7b;
  }
  body.lights-off .highlight .vm {
    color: #7b7b7b;
  }
  body.lights-off .highlight .il {
    color: #7f7f7f;
  }
}

/*# sourceMappingURL=pylit.css.map */
